<a href="https://colab.research.google.com/github/navneetsinghsingh/End-to-End-Book-recommender-system/blob/main/App_sensor_fault_detection(ANN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import tensorflow as tf
print(tf.__version__)

2.18.0

In [46]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (5.29.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.0.1)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.13.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.71.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.13.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.1.31)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.8)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [47]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
data=pd.read_csv('/aps_data.csv')

<ipython-input-48-6d556854a42b>:1: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('/aps_data.csv')

In [49]:
data

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,neg,31394,na,0,na,0,0,0,0,0,...,393008,207182,367634,267778,106778,48688,57146,638,0,0
4996,neg,1598,na,0,na,0,0,0,0,0,...,5298,3164,9710,47042,2296,1098,3288,272,0,0
4997,neg,42,2,2130706454,56,0,0,0,0,0,...,660,272,334,76,14,0,0,0,0,0
4998,neg,32752,na,0,na,0,0,0,0,0,...,533772,37122,56252,23188,1138,134,22,0,0,0
4999,neg,616,6,58,54,0,0,0,0,0,...,4630,2268,4594,2760,2108,9308,64,0,0,0

In [50]:
data.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [51]:
data.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [52]:
data.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
au_000    0
av_000    0
ax_000    0
ay_000    0
ay_001    0
ay_002    0
ay_003    0
ay_004    0
ay_005    0
ay_006    0
ay_007    0
ay_008    0
ay_009    0
az_000    0
az_001    0
az_002    0
az_003    0
az_004    0
az_005    0
az_006    0
az_007    0
az_008    0
az_009    0
ba_000    0
ba_001    0
ba_002    0
ba_003    0
ba_004    0
ba_005    0
ba_006    0
ba_007    0
ba_008    0
ba_009    0
bb_000    0
bc_000    0
bd_000    0
be_000    0
bf_000    0
bg_000    0
bh_000    0
bi_000    0
bj_000    0
bk_000    0
bl_000    0
bm_000    0
bn_000    0
bo_000    0
bp_000    0
bq_000    0
br_000    0
bs_000    0
bt_000    0
bu_000    0
bv_000    0
bx_000    0
by_000    0
bz_000    0
ca_000    0
cb_000    0
cc_000    0
cd_000    0
ce_000    0
cf_000    0
cg_000    0
ch_000    0
ci_000    0
cj_000    0
ck_000    0
cl_000    0
cm_000    0
cn_000    0
cn_001    0
cn_002    0
cn_003    0
cn_004    0
cn_005    0
cn_006    0
cn_007    0
cn_008    0
cn_009    0
co_000    0
cp_000    0
cq_000    0
cr_000    0
cs_000    0
cs_001    0
cs_002    0
cs_003    0
cs_004    0
cs_005    0
cs_006    0
cs_007    0
cs_008    0
cs_009    0
ct_000    0
cu_000    0
cv_000    0
cx_000    0
cy_000    0
cz_000    0
da_000    0
db_000    0
dc_000    0
dd_000    0
de_000    0
df_000    0
dg_000    0
dh_000    0
di_000    0
dj_000    0
dk_000    0
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
dtype: int64

In [53]:
np.nan

nan

In [54]:
data.replace("na",np.nan,inplace=True)

In [55]:
pd.options.display.max_rows=1000

In [56]:
data.isnull().sum()

class        0
aa_000       0
ab_000    3849
ac_000     308
ad_000    1236
ae_000     224
af_000     224
ag_000      58
ag_001      58
ag_002      58
ag_003      58
ag_004      58
ag_005      58
ag_006      58
ag_007      58
ag_008      58
ag_009      58
ah_000      60
ai_000      56
aj_000      56
ak_000     384
al_000      65
am_0        56
an_000      65
ao_000      53
ap_000      65
aq_000      53
ar_000     242
as_000      56
at_000      56
au_000      56
av_000     224
ax_000     224
ay_000      58
ay_001      58
ay_002      58
ay_003      58
ay_004      58
ay_005      58
ay_006      58
ay_007      58
ay_008      58
ay_009      58
az_000      58
az_001      58
az_002      58
az_003      58
az_004      58
az_005      58
az_006      58
az_007      58
az_008      58
az_009      58
ba_000      61
ba_001      61
ba_002      61
ba_003      61
ba_004      61
ba_005      61
ba_006      61
ba_007      61
ba_008      61
ba_009      61
bb_000      60
bc_000     243
bd_000     243
be_000     225
bf_000     224
bg_000      65
bh_000      65
bi_000      53
bj_000      53
bk_000    1880
bl_000    2234
bm_000    3273
bn_000    3631
bo_000    3832
bp_000    3960
bq_000    4043
br_000    4105
bs_000      66
bt_000      12
bu_000      64
bv_000      64
bx_000     288
by_000      43
bz_000     242
ca_000     383
cb_000      66
cc_000     288
cd_000      61
ce_000     224
cf_000    1236
cg_000    1236
ch_000    1236
ci_000      38
cj_000      38
ck_000      38
cl_000     778
cm_000     796
cn_000      61
cn_001      61
cn_002      61
cn_003      61
cn_004      61
cn_005      61
cn_006      61
cn_007      61
cn_008      61
cn_009      61
co_000    1236
cp_000     242
cq_000      64
cr_000    3849
cs_000      58
cs_001      58
cs_002      58
cs_003      58
cs_004      58
cs_005      58
cs_006      58
cs_007      58
cs_008      58
cs_009      58
ct_000    1150
cu_000    1150
cv_000    1150
cx_000    1150
cy_000    1150
cz_000    1150
da_000    1150
db_000    1150
dc_000    1150
dd_000     224
de_000     242
df_000     361
dg_000     361
dh_000     361
di_000     361
dj_000     361
dk_000     361
dl_000     361
dm_000     361
dn_000      64
do_000     243
dp_000     243
dq_000     243
dr_000     243
ds_000     243
dt_000     243
du_000     243
dv_000     243
dx_000     242
dy_000     242
dz_000     242
ea_000     242
eb_000     361
ec_00      837
ed_000     778
ee_000      58
ee_001      58
ee_002      58
ee_003      58
ee_004      58
ee_005      58
ee_006      58
ee_007      58
ee_008      58
ee_009      58
ef_000     242
eg_000     242
dtype: int64

In [57]:
data.isnull().sum().sum()

np.int64(71649)

In [58]:
pd.DataFrame(data.isnull().sum().sort_values(ascending=False)).rename(columns={0:"null value count"})

        null value count
br_000              4105
bq_000              4043
bp_000              3960
cr_000              3849
ab_000              3849
bo_000              3832
bn_000              3631
bm_000              3273
bl_000              2234
bk_000              1880
ad_000              1236
cg_000              1236
ch_000              1236
cf_000              1236
co_000              1236
cx_000              1150
cz_000              1150
cy_000              1150
dc_000              1150
db_000              1150
cv_000              1150
ct_000              1150
da_000              1150
cu_000              1150
ec_00                837
cm_000               796
cl_000               778
ed_000               778
ak_000               384
ca_000               383
dk_000               361
dg_000               361
dm_000               361
df_000               361
dh_000               361
di_000               361
dj_000               361
eb_000               361
dl_000               361
ac_000               308
bx_000               288
cc_000               288
bc_000               243
dv_000               243
do_000               243
dt_000               243
ds_000               243
dq_000               243
dp_000               243
dr_000               243
bd_000               243
du_000               243
cp_000               242
bz_000               242
de_000               242
ea_000               242
dx_000               242
ar_000               242
ef_000               242
dy_000               242
eg_000               242
dz_000               242
be_000               225
af_000               224
ae_000               224
av_000               224
ax_000               224
ce_000               224
dd_000               224
bf_000               224
cb_000                66
bs_000                66
an_000                65
bg_000                65
ap_000                65
al_000                65
bh_000                65
cq_000                64
bu_000                64
bv_000                64
dn_000                64
ba_002                61
ba_005                61
ba_003                61
cn_009                61
cn_007                61
cn_008                61
cd_000                61
ba_001                61
ba_006                61
ba_000                61
cn_001                61
cn_000                61
ba_008                61
ba_009                61
ba_007                61
cn_005                61
cn_002                61
cn_006                61
cn_004                61
cn_003                61
ba_004                61
bb_000                60
ah_000                60
ay_006                58
ay_007                58
ag_001                58
cs_009                58
cs_002                58
cs_003                58
cs_004                58
cs_005                58
cs_006                58
ee_000                58
az_008                58
az_001                58
az_000                58
ay_002                58
ay_003                58
ay_005                58
ay_008                58
ay_004                58
ay_009                58
ag_005                58
ag_006                58
ag_004                58
ay_000                58
ay_001                58
ag_007                58
ag_009                58
ag_008                58
ag_002                58
ag_003                58
ag_000                58
az_009                58
az_004                58
az_005                58
az_006                58
az_007                58
ee_003                58
ee_002                58
ee_004                58
ee_005                58
ee_007                58
ee_006                58
ee_009                58
ee_001                58
ee_008                58
cs_008                58
az_002                58
az_003                58
cs_001                58
cs_000                58
cs_007                58
ai_000                56
at_000                56
aj_000                56
as_000                56
au_000                56
am_0                  56
bi_000                53
ao_000                53
aq_000                53
bj_000                53
by_000                43
ck_000                38
cj_000                38
ci_000                38
bt_000                12
aa_000                 0
class                  0

In [59]:
for feature in [feature for feature in data.columns if feature!= ['class']]:
  data[feature] = data[feature].fillna(data(feature).median())

TypeError: 'DataFrame' object is not callable

In [61]:
for feature in [feature for feature in data.columns if feature != 'class']:
    # Convert to numeric in case values are stored as strings
    data[feature] = pd.to_numeric(data[feature], errors='coerce')

    # Now safely fill NaNs with median
    data[feature] = data[feature].fillna(data[feature].median())

In [62]:
data.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
au_000    0
av_000    0
ax_000    0
ay_000    0
ay_001    0
ay_002    0
ay_003    0
ay_004    0
ay_005    0
ay_006    0
ay_007    0
ay_008    0
ay_009    0
az_000    0
az_001    0
az_002    0
az_003    0
az_004    0
az_005    0
az_006    0
az_007    0
az_008    0
az_009    0
ba_000    0
ba_001    0
ba_002    0
ba_003    0
ba_004    0
ba_005    0
ba_006    0
ba_007    0
ba_008    0
ba_009    0
bb_000    0
bc_000    0
bd_000    0
be_000    0
bf_000    0
bg_000    0
bh_000    0
bi_000    0
bj_000    0
bk_000    0
bl_000    0
bm_000    0
bn_000    0
bo_000    0
bp_000    0
bq_000    0
br_000    0
bs_000    0
bt_000    0
bu_000    0
bv_000    0
bx_000    0
by_000    0
bz_000    0
ca_000    0
cb_000    0
cc_000    0
cd_000    0
ce_000    0
cf_000    0
cg_000    0
ch_000    0
ci_000    0
cj_000    0
ck_000    0
cl_000    0
cm_000    0
cn_000    0
cn_001    0
cn_002    0
cn_003    0
cn_004    0
cn_005    0
cn_006    0
cn_007    0
cn_008    0
cn_009    0
co_000    0
cp_000    0
cq_000    0
cr_000    0
cs_000    0
cs_001    0
cs_002    0
cs_003    0
cs_004    0
cs_005    0
cs_006    0
cs_007    0
cs_008    0
cs_009    0
ct_000    0
cu_000    0
cv_000    0
cx_000    0
cy_000    0
cz_000    0
da_000    0
db_000    0
dc_000    0
dd_000    0
de_000    0
df_000    0
dg_000    0
dh_000    0
di_000    0
dj_000    0
dk_000    0
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
dtype: int64

In [63]:
data.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
au_000    0
av_000    0
ax_000    0
ay_000    0
ay_001    0
ay_002    0
ay_003    0
ay_004    0
ay_005    0
ay_006    0
ay_007    0
ay_008    0
ay_009    0
az_000    0
az_001    0
az_002    0
az_003    0
az_004    0
az_005    0
az_006    0
az_007    0
az_008    0
az_009    0
ba_000    0
ba_001    0
ba_002    0
ba_003    0
ba_004    0
ba_005    0
ba_006    0
ba_007    0
ba_008    0
ba_009    0
bb_000    0
bc_000    0
bd_000    0
be_000    0
bf_000    0
bg_000    0
bh_000    0
bi_000    0
bj_000    0
bk_000    0
bl_000    0
bm_000    0
bn_000    0
bo_000    0
bp_000    0
bq_000    0
br_000    0
bs_000    0
bt_000    0
bu_000    0
bv_000    0
bx_000    0
by_000    0
bz_000    0
ca_000    0
cb_000    0
cc_000    0
cd_000    0
ce_000    0
cf_000    0
cg_000    0
ch_000    0
ci_000    0
cj_000    0
ck_000    0
cl_000    0
cm_000    0
cn_000    0
cn_001    0
cn_002    0
cn_003    0
cn_004    0
cn_005    0
cn_006    0
cn_007    0
cn_008    0
cn_009    0
co_000    0
cp_000    0
cq_000    0
cr_000    0
cs_000    0
cs_001    0
cs_002    0
cs_003    0
cs_004    0
cs_005    0
cs_006    0
cs_007    0
cs_008    0
cs_009    0
ct_000    0
cu_000    0
cv_000    0
cx_000    0
cy_000    0
cz_000    0
da_000    0
db_000    0
dc_000    0
dd_000    0
de_000    0
df_000    0
dg_000    0
dh_000    0
di_000    0
dj_000    0
dk_000    0
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
dtype: int64

In [64]:
data.isnull().sum().sum()

np.int64(0)

In [65]:
data.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,8.0,26.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0
1,neg,90,0.0,0.0,66.0,0.0,0.0,0.0,0.0,0.0,...,1268.0,526.0,554.0,300.0,118.0,260.0,0.0,0.0,0.0,0.0
2,neg,30,0.0,16.0,14.0,0.0,0.0,0.0,0.0,0.0,...,480.0,84.0,74.0,50.0,46.0,0.0,0.0,0.0,0.0,0.0
3,neg,444,0.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,...,1614.0,1144.0,3598.0,2460.0,1258.0,8524.0,110.0,0.0,0.0,0.0
4,neg,82,0.0,12.0,10.0,0.0,0.0,0.0,0.0,1464.0,...,1010.0,132.0,310.0,56.0,92.0,1292.0,0.0,0.0,0.0,0.0

In [66]:
x=data.drop('class',axis=1)

In [67]:
y=data["class"]

In [69]:
x.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 170 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    aa_000  5000 non-null   int64
 1    ab_000  5000 non-null   float64
 2    ac_000  5000 non-null   float64
 3    ad_000  5000 non-null   float64
 4    ae_000  5000 non-null   float64
 5    af_000  5000 non-null   float64
 6    ag_000  5000 non-null   float64
 7    ag_001  5000 non-null   float64
 8    ag_002  5000 non-null   float64
 9    ag_003  5000 non-null   float64
 10   ag_004  5000 non-null   float64
 11   ag_005  5000 non-null   float64
 12   ag_006  5000 non-null   float64
 13   ag_007  5000 non-null   float64
 14   ag_008  5000 non-null   float64
 15   ag_009  5000 non-null   float64
 16   ah_000  5000 non-null   float64
 17   ai_000  5000 non-null   float64
 18   aj_000  5000 non-null   float64
 19   ak_000  5000 non-null   float64
 20   al_000  5000 non-null   float64
 21   am_0    5000 non-null   float64
 22   an_000  5000 non-null   float64
 23   ao_000  5000 non-null   float64
 24   ap_000  5000 non-null   float64
 25   aq_000  5000 non-null   float64
 26   ar_000  5000 non-null   float64
 27   as_000  5000 non-null   float64
 28   at_000  5000 non-null   float64
 29   au_000  5000 non-null   float64
 30   av_000  5000 non-null   float64
 31   ax_000  5000 non-null   float64
 32   ay_000  5000 non-null   float64
 33   ay_001  5000 non-null   float64
 34   ay_002  5000 non-null   float64
 35   ay_003  5000 non-null   float64
 36   ay_004  5000 non-null   float64
 37   ay_005  5000 non-null   float64
 38   ay_006  5000 non-null   float64
 39   ay_007  5000 non-null   float64
 40   ay_008  5000 non-null   float64
 41   ay_009  5000 non-null   float64
 42   az_000  5000 non-null   float64
 43   az_001  5000 non-null   float64
 44   az_002  5000 non-null   float64
 45   az_003  5000 non-null   float64
 46   az_004  5000 non-null   float64
 47   az_005  5000 non-null   float64
 48   az_006  5000 non-null   float64
 49   az_007  5000 non-null   float64
 50   az_008  5000 non-null   float64
 51   az_009  5000 non-null   float64
 52   ba_000  5000 non-null   float64
 53   ba_001  5000 non-null   float64
 54   ba_002  5000 non-null   float64
 55   ba_003  5000 non-null   float64
 56   ba_004  5000 non-null   float64
 57   ba_005  5000 non-null   float64
 58   ba_006  5000 non-null   float64
 59   ba_007  5000 non-null   float64
 60   ba_008  5000 non-null   float64
 61   ba_009  5000 non-null   float64
 62   bb_000  5000 non-null   float64
 63   bc_000  5000 non-null   float64
 64   bd_000  5000 non-null   float64
 65   be_000  5000 non-null   float64
 66   bf_000  5000 non-null   float64
 67   bg_000  5000 non-null   float64
 68   bh_000  5000 non-null   float64
 69   bi_000  5000 non-null   float64
 70   bj_000  5000 non-null   float64
 71   bk_000  5000 non-null   float64
 72   bl_000  5000 non-null   float64
 73   bm_000  5000 non-null   float64
 74   bn_000  5000 non-null   float64
 75   bo_000  5000 non-null   float64
 76   bp_000  5000 non-null   float64
 77   bq_000  5000 non-null   float64
 78   br_000  5000 non-null   float64
 79   bs_000  5000 non-null   float64
 80   bt_000  5000 non-null   float64
 81   bu_000  5000 non-null   float64
 82   bv_000  5000 non-null   float64
 83   bx_000  5000 non-null   float64
 84   by_000  5000 non-null   float64
 85   bz_000  5000 non-null   float64
 86   ca_000  5000 non-null   float64
 87   cb_000  5000 non-null   float64
 88   cc_000  5000 non-null   float64
 89   cd_000  5000 non-null   float64
 90   ce_000  5000 non-null   float64
 91   cf_000  5000 non-null   float64
 92   cg_000  5000 non-null   float64
 93   ch_000  5000 non-null   float64
 94   ci_000  5000 non-null   float64
 95   cj_000  5000 non-null   float64
 96   ck_000  5000 non-null   float64
 97   cl_000  5000 non-null   float64
 98   cm_000  5000 non-null   float64
 99   cn_000  5000 non-null   float64
 100  cn_001  5000 non-null   float64
 101  cn_002  5000 non-null   float64
 102  cn_003  5000 non-null   float64
 103  cn_004  5000 non-null   float64
 104  cn_005  5000 non-null   float64
 105  cn_006  5000 non-null   float64
 106  cn_007  5000 non-null   float64
 107  cn_008  5000 non-null   float64
 108  cn_009  5000 non-null   float64
 109  co_000  5000 non-null   float64
 110  cp_000  5000 non-null   float64
 111  cq_000  5000 non-null   float64
 112  cr_000  5000 non-null   float64
 113  cs_000  5000 non-null   float64
 114  cs_001  5000 non-null   float64
 115  cs_002  5000 non-null   float64
 116  cs_003  5000 non-null   float64
 117  cs_004  5000 non-null   float64
 118  cs_005  5000 non-null   float64
 119  cs_006  5000 non-null   float64
 120  cs_007  5000 non-null   float64
 121  cs_008  5000 non-null   float64
 122  cs_009  5000 non-null   float64
 123  ct_000  5000 non-null   float64
 124  cu_000  5000 non-null   float64
 125  cv_000  5000 non-null   float64
 126  cx_000  5000 non-null   float64
 127  cy_000  5000 non-null   float64
 128  cz_000  5000 non-null   float64
 129  da_000  5000 non-null   float64
 130  db_000  5000 non-null   float64
 131  dc_000  5000 non-null   float64
 132  dd_000  5000 non-null   float64
 133  de_000  5000 non-null   float64
 134  df_000  5000 non-null   float64
 135  dg_000  5000 non-null   float64
 136  dh_000  5000 non-null   float64
 137  di_000  5000 non-null   float64
 138  dj_000  5000 non-null   float64
 139  dk_000  5000 non-null   float64
 140  dl_000  5000 non-null   float64
 141  dm_000  5000 non-null   float64
 142  dn_000  5000 non-null   float64
 143  do_000  5000 non-null   float64
 144  dp_000  5000 non-null   float64
 145  dq_000  5000 non-null   float64
 146  dr_000  5000 non-null   float64
 147  ds_000  5000 non-null   float64
 148  dt_000  5000 non-null   float64
 149  du_000  5000 non-null   float64
 150  dv_000  5000 non-null   float64
 151  dx_000  5000 non-null   float64
 152  dy_000  5000 non-null   float64
 153  dz_000  5000 non-null   float64
 154  ea_000  5000 non-null   float64
 155  eb_000  5000 non-null   float64
 156  ec_00   5000 non-null   float64
 157  ed_000  5000 non-null   float64
 158  ee_000  5000 non-null   float64
 159  ee_001  5000 non-null   float64
 160  ee_002  5000 non-null   float64
 161  ee_003  5000 non-null   float64
 162  ee_004  5000 non-null   float64
 163  ee_005  5000 non-null   float64
 164  ee_006  5000 non-null   float64
 165  ee_007  5000 non-null   float64
 166  ee_008  5000 non-null   float64
 167  ee_009  5000 non-null   float64
 168  ef_000  5000 non-null   float64
 169  eg_000  5000 non-null   float64
dtypes: float64(169), int64(1)
memory usage: 6.5 MB

In [70]:
pd.get_dummies(y,drop_first=True)

        pos
0     False
1     False
2     False
3     False
4     False
...     ...
4995  False
4996  False
4997  False
4998  False
4999  False

[5000 rows x 1 columns]

In [72]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [75]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4000, 170)
(4000,)
(1000, 170)
(1000,)

In [76]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [77]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense